Repository jxnl/blog: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-sitemap, check-more-tag

update-sitemap:
  name: Update sitemap
  entry: python generate_sitemap.py
  language: system
  pass_filenames: false
  always_run: false

check-more-tag:
  name: Check blog posts have <!-- more --> tag
  entry: ./check_more_tags.sh
  language: system
  pass_filenames: false

Context Engineering series: convert headings to 5W/How questions (except numbered), add Glossary + How to Use section to index, and fix wording
  docs/writing/posts/context-engineering-agent-frameworks.md
  docs/writing/posts/context-engineering-agent-prototyping.md
  docs/writing/posts/context-engineering-compaction.md
  docs/writing/posts/context-engineering-index.md
  docs/writing/posts/context-engineering-slash-commands-subagents.md
  docs/writing/posts/context-engineering-tool-response.md
Due: update-sitemap, check-more-tag

Fix broken vantager links and update gitignore
  .gitignore
  docs/investments.md
  docs/resume.md
Due: update-sitemap

w
  AGENTS.md
  docs/writing/posts/musashi-carpenter-strategy.md
  docs/writing/posts/rag-authority.md
  docs/writing/posts/rag-office-hours-promo.md
  docs/writing/posts/rag-office-hours.md
Due: update-sitemap, check-more-tag

talks: add <!-- more --> breaks and categories; chore: remove helper script; ci: make more-tag check recursive and fix missing tags
  check_more_tags.sh
  docs/writing/index.md
  docs/writing/posts/musashi-carpenter-strategy.md
  docs/writing/posts/rag-office-hours-promo.md
  docs/writing/posts/rag-office-hours.md
  docs/writing/posts/talks/chris-lovejoy-domain-expert-vertical-ai.md
  docs/writing/posts/talks/chromadb-anton-chunking.md
  docs/writing/posts/talks/colin-rag-agents.md
  docs/writing/posts/talks/devin-cognition-multi-agents.md
  docs/writing/posts/talks/embedding-performance-generative-evals-kelly-hong.md
  docs/writing/posts/talks/extend-document-automation.md
  docs/writing/posts/talks/fine-tuning-rerankers-embeddings-ayush-lancedb.md
  docs/writing/posts/talks/glean-manav.md
  docs/writing/posts/talks/index.md
  docs/writing/posts/talks/john-lexical-search.md
  docs/writing/posts/talks/online-evals-production-monitoring-ben-sidhant.md
  docs/writing/posts/talks/query-routing-anton.md
  docs/writing/posts/talks/rag-antipatterns-skylar-payne.md
  docs/writing/posts/talks/rag-is-dead-cline-nik.md
  docs/writing/posts/talks/rag-without-apis-browser-michael-struwig.md
  docs/writing/posts/talks/reducto-docs-adit.md
  docs/writing/posts/talks/semantic-search-exa-will-bryk.md
  docs/writing/posts/talks/sourcegraph-agentic-code-agent-rag.md
  docs/writing/posts/talks/superlinked-encoder-stacking.md
  docs/writing/posts/talks/turbopuffer-engine.md
  docs/writing/posts/talks/zapier-vitor-evals.md
Due: update-sitemap, check-more-tag

docs: add Systematically Improve RAG workshops section and update nav to directory index and chapters
  docs/systematically-improve-rag/AGENTS.md
  docs/systematically-improve-rag/chapter0-slides.md
  docs/systematically-improve-rag/chapter0-transcript.txt
  docs/systematically-improve-rag/chapter0.md
  docs/systematically-improve-rag/chapter1-slides.md
  docs/systematically-improve-rag/chapter1-transcript.txt
  docs/systematically-improve-rag/chapter1.md
  docs/systematically-improve-rag/chapter1.pdf
  docs/systematically-improve-rag/chapter2-slides.md
  docs/systematically-improve-rag/chapter2-transcript.txt
  docs/systematically-improve-rag/chapter2.md
  docs/systematically-improve-rag/chapter2.pdf
  docs/systematically-improve-rag/chapter3-1.md
  docs/systematically-improve-rag/chapter3-2.md
  docs/systematically-improve-rag/chapter3-3.md
  docs/systematically-improve-rag/chapter3-slides.md
  docs/systematically-improve-rag/chapter3-transcript.txt
  docs/systematically-improve-rag/chapter3.pdf
  docs/systematically-improve-rag/chapter4-1.md
  docs/systematically-improve-rag/chapter4-2.md
  docs/systematically-improve-rag/chapter4-slides.md
  docs/systematically-improve-rag/chapter4-transcript.txt
  docs/systematically-improve-rag/chapter4.pdf
  docs/systematically-improve-rag/chapter5-1.md
  docs/systematically-improve-rag/chapter5-2.md
  docs/systematically-improve-rag/chapter5-slides.md
  docs/systematically-improve-rag/chapter5-transcript.txt
  docs/systematically-improve-rag/chapter5.pdf
  docs/systematically-improve-rag/chapter6-1.md
  docs/systematically-improve-rag/chapter6-2.md
  docs/systematically-improve-rag/chapter6-3.md
  docs/systematically-improve-rag/chapter6-slides.md
  docs/systematically-improve-rag/chapter6-transcript.txt
  docs/systematically-improve-rag/chapter6.pdf
  docs/systematically-improve-rag/chapter7.md
  docs/systematically-improve-rag/extract_pdfs.py
  docs/systematically-improve-rag/index.md
  mkdocs.yml
Due: update-sitemap

docs: move to systematically-improve-your-rag/, add landing index, remove transcripts and PDFs from docs
  docs/systematically-improve-rag/chapter0-transcript.txt
  docs/systematically-improve-rag/chapter1-transcript.txt
  docs/systematically-improve-rag/chapter1.pdf
  docs/systematically-improve-rag/chapter2-transcript.txt
  docs/systematically-improve-rag/chapter2.pdf
  docs/systematically-improve-rag/chapter3-transcript.txt
  docs/systematically-improve-rag/chapter3.pdf
  docs/systematically-improve-rag/chapter4-transcript.txt
  docs/systematically-improve-rag/chapter4.pdf
  docs/systematically-improve-rag/chapter5-transcript.txt
  docs/systematically-improve-rag/chapter5.pdf
  docs/systematically-improve-rag/chapter6-transcript.txt
  docs/systematically-improve-rag/chapter6.pdf
  docs/systematically-improve-your-rag.md
  docs/systematically-improve-your-rag/AGENTS.md
  docs/systematically-improve-your-rag/chapter0-slides.md
  docs/systematically-improve-your-rag/chapter0.md
  docs/systematically-improve-your-rag/chapter1-slides.md
  docs/systematically-improve-your-rag/chapter1.md
  docs/systematically-improve-your-rag/chapter2-slides.md
  docs/systematically-improve-your-rag/chapter2.md
  docs/systematically-improve-your-rag/chapter3-1.md
  docs/systematically-improve-your-rag/chapter3-2.md
  docs/systematically-improve-your-rag/chapter3-3.md
  docs/systematically-improve-your-rag/chapter3-slides.md
  docs/systematically-improve-your-rag/chapter4-1.md
  docs/systematically-improve-your-rag/chapter4-2.md
  docs/systematically-improve-your-rag/chapter4-slides.md
  docs/systematically-improve-your-rag/chapter5-1.md
  docs/systematically-improve-your-rag/chapter5-2.md
  docs/systematically-improve-your-rag/chapter5-slides.md
  docs/systematically-improve-your-rag/chapter6-1.md
  docs/systematically-improve-your-rag/chapter6-2.md
  docs/systematically-improve-your-rag/chapter6-3.md
  docs/systematically-improve-your-rag/chapter6-slides.md
  docs/systematically-improve-your-rag/chapter7.md
  docs/systematically-improve-your-rag/extract_pdfs.py
  docs/systematically-improve-your-rag/index.md
Due: update-sitemap

ci: ignore PDFs/TXTs in systematically-improve-your-rag via .gitignore and pre-commit hook
  .pre-commit-config.yaml
  check_no_heavy_assets.sh
  docs/systematically-improve-your-rag/.gitignore
  docs/systematically-improve-your-rag/index.md
  mkdocs.yml
Due: update-sitemap

docs: polish landing copy for Systematically Improve Your RAG
  docs/systematically-improve-your-rag/index.md
Due: update-sitemap

docs: add Systematically Improve Your RAG section (no PDFs/TXTs), nav updates, and asset guard
  .pre-commit-config.yaml
  check_no_heavy_assets.sh
  docs/systematically-improve-your-rag/.gitignore
  docs/systematically-improve-your-rag/AGENTS.md
  docs/systematically-improve-your-rag/chapter0-slides.md
  docs/systematically-improve-your-rag/chapter0.md
  docs/systematically-improve-your-rag/chapter1-slides.md
  docs/systematically-improve-your-rag/chapter1.md
  docs/systematically-improve-your-rag/chapter2-slides.md
  docs/systematically-improve-your-rag/chapter2.md
  docs/systematically-improve-your-rag/chapter3-1.md
  docs/systematically-improve-your-rag/chapter3-2.md
  docs/systematically-improve-your-rag/chapter3-3.md
  docs/systematically-improve-your-rag/chapter3-slides.md
  docs/systematically-improve-your-rag/chapter4-1.md
  docs/systematically-improve-your-rag/chapter4-2.md
  docs/systematically-improve-your-rag/chapter4-slides.md
  docs/systematically-improve-your-rag/chapter5-1.md
  docs/systematically-improve-your-rag/chapter5-2.md
  docs/systematically-improve-your-rag/chapter5-slides.md
  docs/systematically-improve-your-rag/chapter6-1.md
  docs/systematically-improve-your-rag/chapter6-2.md
  docs/systematically-improve-your-rag/chapter6-3.md
  docs/systematically-improve-your-rag/chapter6-slides.md
  docs/systematically-improve-your-rag/chapter7.md
  docs/systematically-improve-your-rag/extract_pdfs.py
  docs/systematically-improve-your-rag/index.md
  mkdocs.yml
Due: update-sitemap

docs: fix admonition indentation in workshop chapters; nav: prefix entries with chN; remove slide markdown and guard against reintroduction
  check_no_heavy_assets.sh
  docs/systematically-improve-your-rag/.gitignore
  docs/systematically-improve-your-rag/chapter0-slides.md
  docs/systematically-improve-your-rag/chapter1-slides.md
  docs/systematically-improve-your-rag/chapter2-slides.md
  docs/systematically-improve-your-rag/chapter2.md
  docs/systematically-improve-your-rag/chapter3-1.md
  docs/systematically-improve-your-rag/chapter3-2.md
  docs/systematically-improve-your-rag/chapter3-3.md
  docs/systematically-improve-your-rag/chapter3-slides.md
  docs/systematically-improve-your-rag/chapter4-slides.md
  docs/systematically-improve-your-rag/chapter5-1.md
  docs/systematically-improve-your-rag/chapter5-2.md
  docs/systematically-improve-your-rag/chapter5-slides.md
  docs/systematically-improve-your-rag/chapter6-1.md
  docs/systematically-improve-your-rag/chapter6-2.md
  docs/systematically-improve-your-rag/chapter6-3.md
  docs/systematically-improve-your-rag/chapter6-slides.md
  mkdocs.yml
  scripts/fix_admonitions.py
Due: update-sitemap

Update categories for multiple talks to include "Coding Agent Series" for better organization and clarity.
  docs/writing/posts/talks/colin-rag-agents.md
  docs/writing/posts/talks/devin-cognition-multi-agents.md
  docs/writing/posts/talks/rag-is-dead-cline-nik.md
  docs/writing/posts/talks/sourcegraph-agentic-code-agent-rag.md
Due: update-sitemap, check-more-tag

Add Coding Agents Speaker Series index post
  docs/writing/posts/coding-series-index.md
  docs/writing/posts/context-engineering-compaction.md
  docs/writing/posts/context-engineering-index.md
  docs/writing/posts/context-engineering-slash-commands-subagents.md
  docs/writing/posts/context-engineering-tool-response.md
  docs/writing/posts/talks/colin-rag-agents.md
  docs/writing/posts/talks/devin-cognition-multi-agents.md
  docs/writing/posts/talks/rag-is-dead-cline-nik.md
  docs/writing/posts/talks/sourcegraph-agentic-code-agent-rag.md
Due: update-sitemap, check-more-tag

Enhance RAG content and related series references
  docs/writing/posts/ai-agents-cross-linking.md
  docs/writing/posts/business-pricing-tools-agents.md
  docs/writing/posts/coding-series-index.md
  docs/writing/posts/context-engineering-index.md
  docs/writing/posts/rag-anti-patterns-skylar.md
  docs/writing/posts/rag-series-index.md
Due: update-sitemap, check-more-tag

Add comprehensive cross-linking between RAG, Context Engineering, and Coding Agents series
  docs/writing/posts/ai-agents-cross-linking.md
  docs/writing/posts/business-pricing-tools-agents.md
  docs/writing/posts/coding-series-index.md
  docs/writing/posts/context-engineering-index.md
  docs/writing/posts/rag-anti-patterns-skylar.md
  docs/writing/posts/rag-flywheel.md
  docs/writing/posts/rag-improving-rag.md
  docs/writing/posts/rag-levels-of-rag.md
  docs/writing/posts/rag-low-hanging-fruit.md
  docs/writing/posts/rag-series-index.md
  docs/writing/posts/rag-what-is-rag.md
  docs/writing/posts/systematically-improving-rag-raindrop.md
Due: update-sitemap, check-more-tag

Optimize AI coding accelerator post: 20% shorter, clearer value prop, production-focused messaging
  docs/writing/posts/ai-coding-accelerator.md
Due: update-sitemap, check-more-tag

Update title: 'Do Your Engineers Know How to Leverage AI?' - more direct question for engineering leaders
  docs/writing/posts/ai-coding-accelerator.md
Due: update-sitemap, check-more-tag

Update services.md
  docs/services.md
Due: update-sitemap

Update systematically-improve-your-rag.md
  docs/systematically-improve-your-rag.md
Due: update-sitemap

Update context-engineering-index.md
  docs/writing/posts/context-engineering-index.md
Due: update-sitemap, check-more-tag

Revise founder experience details in resume
  docs/resume.md
Due: update-sitemap

Fix formatting in resume.md for professional experience
  docs/resume.md
Due: update-sitemap

Update index.md and resume.md, add new doc.md post with proper frontmatter
  AGENTS.md
  docs/index.md
  docs/resume.md
  docs/writing/posts/ai-coding-accelerator.md
  docs/writing/posts/coding-series-index.md
  docs/writing/posts/context-engineering-agent-frameworks.md
  docs/writing/posts/context-engineering-agent-prototyping.md
  docs/writing/posts/context-engineering-tool-response.md
  docs/writing/posts/doc.md
  docs/writing/posts/rag-authority.md
  docs/writing/posts/rag-cohort-3-speakers-improving-rag.md
  docs/writing/posts/rag-course-breakdown.md
  docs/writing/posts/rag-enterprise-process.md
  docs/writing/posts/rag-office-hours.md
  docs/writing/posts/rag-only-6-evals.md
  docs/writing/posts/rag-series-index.md
  docs/writing/posts/systematically-improving-rag-raindrop.md
  docs/writing/posts/talks/chris-lovejoy-domain-expert-vertical-ai.md
  docs/writing/posts/talks/chromadb-anton-chunking.md
  docs/writing/posts/talks/colin-rag-agents.md
  docs/writing/posts/talks/devin-cognition-multi-agents.md
  docs/writing/posts/talks/embedding-performance-generative-evals-kelly-hong.md
  docs/writing/posts/talks/extend-document-automation.md
  docs/writing/posts/talks/fine-tuning-rerankers-embeddings-ayush-lancedb.md
  docs/writing/posts/talks/glean-manav.md
  docs/writing/posts/talks/index.md
  docs/writing/posts/talks/john-lexical-search.md
  docs/writing/posts/talks/online-evals-production-monitoring-ben-sidhant.md
  docs/writing/posts/talks/query-routing-anton.md
  docs/writing/posts/talks/rag-antipatterns-skylar-payne.md
  docs/writing/posts/talks/rag-is-dead-cline-nik.md
  docs/writing/posts/talks/rag-without-apis-browser-michael-struwig.md
  docs/writing/posts/talks/reducto-docs-adit.md
  docs/writing/posts/talks/semantic-search-exa-will-bryk.md
  docs/writing/posts/talks/sourcegraph-agentic-code-agent-rag.md
  docs/writing/posts/talks/turbopuffer-engine.md
  docs/writing/posts/talks/zapier-vitor-evals.md
  sitemap.yaml
Due: update-sitemap, check-more-tag

Add comprehensive testimonials to RAG course sales page
  docs/systematically-improve-your-rag.md
Due: update-sitemap

Improve all non-blog pages: homepage, services, resume, investments, books, expert-calls, user-manual, RAG course
  docs/books.md
  docs/expert-calls.md
  docs/experts-and-vendors.md
  docs/index.md
  docs/investments.md
  docs/resume.md
  docs/services.md
  docs/stylesheets/extra.css
  docs/systematically-improve-your-rag.md
  docs/user_manual.md
Due: update-sitemap

Restore homepage logo walls and testimonials
  docs/index.md
Due: update-sitemap

Homepage: keep newsletter CTA
  docs/index.md
Due: update-sitemap

Remove M money models post
  docs/writing/posts/money-models.md
Due: update-sitemap, check-more-tag

refactor: update brand positioning to focus on developers
  docs/expert-calls.md
  docs/index.md
  docs/resume.md
  docs/services.md
  mkdocs.yml
Due: update-sitemap

refactor: address PR feedback on brand positioning
  docs/expert-calls.md
  docs/index.md
  docs/resume.md
  docs/services.md
Due: update-sitemap

Add Extreme Cashmere to fashion section
  docs/things.md
Due: update-sitemap

feat: LinkedIn username fixed
  mkdocs.yml
Due: none

Simplify nav and link RAG guide
  docs/index.md
  mkdocs.yml
Due: update-sitemap

Restore Home submenu in nav
  mkdocs.yml
Due: none

Update subagents post for skills and Codex CLI
  docs/writing/posts/context-engineering-slash-commands-subagents.md
  docs/writing/posts/img/subagents-codex.png
  sitemap.yaml
Due: update-sitemap, check-more-tag

Simplify homepage: lowkey company lists, remove free resources, update training section
  AGENTS.md
  docs/experts-and-vendors.md
  docs/index.md
  docs/investments.md
  docs/test-cache.md
  docs/writing-samples.md
  docs/writing/index.md
  docs/writing/posts/talks/index.md
  mkdocs.yml
Due: update-sitemap, check-more-tag

Update blog index and RAG links
  .pre-commit-config.yaml
  AGENTS.md
  docs/404.md
  docs/index.md
  docs/systematically-improve-your-rag.md
  docs/writing/index.md
  docs/writing/posts/advice.md
  docs/writing/posts/ai-agents-cross-linking.md
  docs/writing/posts/business-pricing-tools-agents.md
  docs/writing/posts/coding-series-index.md
  docs/writing/posts/consulting-marketing.md
  docs/writing/posts/context-engineering-index.md
  docs/writing/posts/context-engineering-tool-response.md
  docs/writing/posts/glean-finetuning.md
  docs/writing/posts/lovable-pricing-outcomes.md
  docs/writing/posts/rag-anti-patterns-skylar.md
  docs/writing/posts/rag-course-breakdown.md
  docs/writing/posts/rag-faq.md
  docs/writing/posts/rag-flywheel.md
  docs/writing/posts/rag-improving-rag.md
  docs/writing/posts/rag-low-hanging-fruit.md
  docs/writing/posts/rag-only-6-evals.md
  docs/writing/posts/rag-series-index.md
  docs/writing/posts/rag-what-is-rag.md
  docs/writing/posts/systematically-improving-rag-raindrop.md
  docs/writing/posts/talks/index.md
  docs/writing/posts/talks/turbopuffer-engine.md
  docs/writing/posts/things.md
  docs/writing/posts/trade-off-tool-selection.md
  mkdocs.yml
  sitemap.yaml
Due: update-sitemap, check-more-tag

Path conditions:
  update-sitemap: any of: \.md$
  check-more-tag: any of: ^docs/writing/posts/.*\.md$
