Repository jxnl/blog: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-sitemap, check-more-tag, check-no-heavy-assets

update-sitemap:
  name: Update sitemap
  entry: python generate_sitemap.py
  language: system
  pass_filenames: false
  always_run: false

check-more-tag:
  name: Check blog posts have <!-- more --> tag
  entry: ./check_more_tags.sh
  language: system
  pass_filenames: false

check-no-heavy-assets:
  name: Disallow PDFs and TXTs in systematically-improve-your-rag
  entry: ./check_no_heavy_assets.sh
  language: system
  pass_filenames: false

docs: shorten Codex morning brief title
  docs/writing/posts/six-levels-of-complexity-of-an-ai-powered-morning-brief-with-codex.md
Due: update-sitemap, check-more-tag

Add Appshots example to Codex Maxxing post
  docs/writing/posts/codex-maxxing.md
  sitemap.yaml
Due: update-sitemap, check-more-tag

Update investments portfolio page
  docs/investments.md
  sitemap.yaml
Due: update-sitemap

Split investments portfolio sections
  docs/investments.md
  sitemap.yaml
Due: update-sitemap

docs: add Codex computer use guide
  docs/writing/posts/three-ways-codex-can-use-a-computer.md
Due: update-sitemap, check-more-tag

add scheduled work guide
  docs/writing/posts/two-kinds-of-scheduled-work-in-codex.md
Due: update-sitemap, check-more-tag

feat: add GA-backed blog view counts
  .github/workflows/refresh-page-views.yml
  .gitignore
  PAGE_VIEWS.md
  docs/javascripts/page-views.js
  docs/stylesheets/extra.css
  mkdocs.yml
  pyproject.toml
  scripts/page_views.py
  tests/test_page_views.py
  uv.lock
Due: update-sitemap

Add taste essay
  docs/writing/posts/taste.md
Due: update-sitemap, check-more-tag

fix: render page views in post metadata
  docs/javascripts/page-views.js
  docs/stylesheets/extra.css
Due: none

feat: add GA-backed blog view counts (#146)
  .github/workflows/refresh-page-views.yml
  .gitignore
  PAGE_VIEWS.md
  docs/javascripts/page-views.js
  docs/stylesheets/extra.css
  mkdocs.yml
  pyproject.toml
  scripts/page_views.py
  tests/test_page_views.py
  uv.lock
Due: update-sitemap

fix: include historical blog page views
  scripts/page_views.py
  tests/test_page_views.py
Due: none

fix: include historical blog page views (#147)
  scripts/page_views.py
  tests/test_page_views.py
Due: none

feat: add popular posts page
  docs/javascripts/page-views.js
  docs/popular.md
  docs/stylesheets/extra.css
  docs/writing/index.md
  mkdocs.yml
Due: update-sitemap

fix: load complete popular post data
  docs/javascripts/page-views.js
  mkdocs.yml
  scripts/page_views.py
  tests/test_page_views.py
Due: none

fix: preserve popular post counts
  docs/javascripts/page-views.js
  scripts/page_views.py
  tests/test_page_views.py
Due: none

feat: add popular posts page (#148)
  docs/javascripts/page-views.js
  docs/popular.md
  docs/stylesheets/extra.css
  docs/writing/index.md
  scripts/page_views.py
  tests/test_page_views.py
Due: update-sitemap

fix(learning): typos and repetition
  docs/writing/posts/learning.md
Due: update-sitemap, check-more-tag

fix(user-manual): switch examples around to resolve logical error
  docs/user_manual.md
Due: update-sitemap

fix(privacy): remove personal email from public blog pages
  docs/resume.md
  docs/writing/posts/consulting-stack.md
Due: update-sitemap, check-more-tag

fix(privacy): remove personal email from published blog mirror
  resume/index.html
  search/search_index.json
  writing/2024/08/23/consulting-stack/index.html
Due: none

Path conditions:
  update-sitemap: any of: \.md$
  check-more-tag: any of: ^docs/writing/posts/.*\.md$
  check-no-heavy-assets: any of: ^docs/systematically-improve-your-rag/.*$
