Repository jxnl/blog: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-sitemap, check-more-tag, check-no-heavy-assets

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        name: prettier (markdown)
        files: \.md$
        args:
          - --prose-wrap=preserve
          - --print-width=100
          - --tab-width=2
        additional_dependencies:
          - prettier@3.1.0
  - repo: local
    hooks:
      - id: update-sitemap
        name: Update sitemap
        entry: python generate_sitemap.py
        language: system
        files: '\.md$'
        pass_filenames: false
        always_run: false
      - id: check-more-tag
        name: Check blog posts have <!-- more --> tag
        entry: ./check_more_tags.sh
        language: system
        files: '^docs/writing/posts/.*\.md$'
        pass_filenames: false
      - id: check-no-heavy-assets
        name: Disallow PDFs and TXTs in systematically-improve-your-rag
        entry: ./check_no_heavy_assets.sh
        language: system
        files: '^docs/systematically-improve-your-rag/.*$'
        pass_filenames: false

Add consulting and RAG links to home
  docs/index.md
  sitemap.yaml
Due: update-sitemap

Add sunsetting 567 Labs post
  AGENTS.md
  docs/writing/posts/sunsetting-567-labs.md
  sitemap.yaml
Due: update-sitemap, check-more-tag

Add newsletter link and group post CTAs
  docs/index.md
  docs/writing/posts/sunsetting-567-labs.md
  sitemap.yaml
Due: update-sitemap, check-more-tag

Fix advice post good faith link
  docs/writing/posts/advice.md
Due: update-sitemap, check-more-tag

Update advice post and blog agent instructions
  AGENTS.md
  docs/writing/posts/advice.md
Due: update-sitemap, check-more-tag

Revise advice post: money framing, handful section, original post divider
  docs/writing/posts/advice.md
Due: update-sitemap, check-more-tag

Polish advice post: money section flow, diction, sentence variety
  docs/writing/posts/advice.md
Due: update-sitemap, check-more-tag

Polish advice post updates and add Naval reference
  docs/writing/posts/advice.md
  docs/writing/posts/img/naval-ethical-wealth.png
Due: update-sitemap, check-more-tag

Simplify homepage and blog index
  docs/index.md
  docs/writing/index.md
Due: update-sitemap

Lead with personal writing, rename page title to just Writing
  docs/index.md
  docs/writing/index.md
Due: update-sitemap

Clean up mkdocs.yml
  mkdocs.yml
Due: none

Fix remaining mkdocs.yml issues
  mkdocs.yml
Due: none

Remove buttons from writing page and job board from nav
  docs/writing/index.md
  mkdocs.yml
Due: update-sitemap

refactor(advice): reorganize March 2026 sections into cleaner ## and ### hierarchy
  docs/writing/posts/advice.md
Due: update-sitemap, check-more-tag

feat: add music post with top artists, albums, and songs by genre
  docs/writing/index.md
  docs/writing/posts/music.md
Due: update-sitemap, check-more-tag

update music post: fix Son Of Spergy description, add vinyl buy links
  docs/writing/posts/music.md
Due: update-sitemap, check-more-tag

refactor music post: remove grids, use header+embed+copy structure, trim blurbs
  docs/writing/posts/music.md
Due: update-sitemap, check-more-tag

restore original copy with no-grid layout
  docs/writing/posts/music.md
Due: update-sitemap, check-more-tag

Fix typo:I'll -> you'll
  docs/writing/posts/advice.md
Due: update-sitemap, check-more-tag

Refresh homepage voice and add Poke
  docs/index.md
  docs/investments.md
Due: update-sitemap

Add OpenAI Codex role to homepage
  docs/index.md
Due: update-sitemap

Tighten homepage intro cadence
  docs/index.md
Due: update-sitemap

Move Poke higher in investment list
  docs/index.md
  docs/investments.md
Due: update-sitemap

[codex] Refresh homepage voice and add Poke (#135)
  docs/index.md
  docs/investments.md
Due: update-sitemap

docs: add Agents SDK sandboxes draft post (#2)
  docs/writing/posts/agents-sdk-sandboxes.md
Due: update-sitemap, check-more-tag

docs: add Agents SDK sandboxes draft post (#2) (#136)
  docs/writing/posts/agents-sdk-sandboxes.md
Due: update-sitemap, check-more-tag

Fix typo:I'll -> you'll (#134)
  docs/writing/posts/advice.md
Due: update-sitemap, check-more-tag

docs: add codex-maxxing draft post
  docs/writing/posts/codex-maxxing.md
Due: update-sitemap, check-more-tag

docs: expand codex maxxing workflow notes
  docs/writing/posts/codex-maxxing.md
Due: update-sitemap, check-more-tag

docs: publish codex-maxxing post
  docs/writing/posts/codex-maxxing.md
  sitemap.yaml
Due: update-sitemap, check-more-tag

build: add mkdocs deploy dependencies
  pyproject.toml
  uv.lock
Due: none

Deployed fc80056 with MkDocs version: 1.6.1
  assets/images/social/writing/page/13/index.png
  assets/images/social/writing/posts/codex-maxxing.png
  feed_json_created.json
  feed_json_updated.json
  feed_rss_created.xml
  feed_rss_updated.xml
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
  writing/2026/04/02/what-music-do-you-listen-to/index.html
  writing/2026/05/10/codex-maxxing/index.html
  writing/archive/2026/index.html
  writing/category/applied-ai/index.html
  writing/category/applied-ai/page/2/index.html
  writing/category/personal/index.html
  writing/index.html
  writing/page/10/index.html
  writing/page/11/index.html
  writing/page/12/index.html
  writing/page/13/index.html
  writing/page/2/index.html
  writing/page/3/index.html
  writing/page/4/index.html
  writing/page/5/index.html
  writing/page/6/index.html
  writing/page/7/index.html
  writing/page/8/index.html
  writing/page/9/index.html
Due: none

Refine codex-maxxing prose
  docs/writing/posts/codex-maxxing.md
Due: update-sitemap, check-more-tag

docs: refine codex memory section
  docs/writing/posts/codex-maxxing.md
  sitemap.yaml
Due: update-sitemap, check-more-tag

Deployed 7c09f03 with MkDocs version: 1.6.1
  feed_rss_created.xml
  feed_rss_updated.xml
  search/search_index.json
  writing/2026/05/10/codex-maxxing/index.html
  writing/archive/2026/index.html
  writing/category/applied-ai/index.html
  writing/category/personal/index.html
  writing/index.html
Due: none

docs: add Codex morning brief post
  docs/writing/posts/codex-maxxing.md
  docs/writing/posts/img/codex-plugins-screen.png
  docs/writing/posts/six-levels-of-complexity-of-an-ai-powered-morning-brief-with-codex.md
Due: update-sitemap, check-more-tag

docs: publish Codex morning brief post
  AGENTS.md
  docs/writing/posts/six-levels-of-complexity-of-an-ai-powered-morning-brief-with-codex.md
Due: update-sitemap, check-more-tag
